.carouselBox{
   background-color: var(--theme-dark-color);
   min-height:150px;
   border-radius:10px;
   width:95% !important;
   padding-right:10px;
   padding-left:10px;
}



.content-box{
    width:100%;
}
.spec{
    margin-top: 30px;
    width:100%;
    margin-bottom: 20px;;
}

.marginTop{
    margin: 20px 0 5px 0;
}
.full-line{
    border: 0;
    height: 1px;
    background: grey;
    width:100%;
}

.item-box{
    display:flex;
    align-items:center;
}

.rec.rec-arrow{
    background: none;
    border: 0;
    box-shadow: none;
    color: white;
    font-weight:lighter;
    font-size:2em;
     font-family:'Courier New', Courier, monospace;
     position: absolute;
     right: 0
}
.rec.rec-arrow-left{
    display:none
}
.rec.rec-arrow:focus {
    border-radius: 0;
    background: none !important;
    box-shadow: none !important;
}
.rec.rec-arrow:hover {
    border-radius: 0;
    background: none !important;
    box-shadow: none !important;
}

